<a href="https://colab.research.google.com/github/Sachin0P/Assigment-1-solution/blob/main/solution_of_assigment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

question 1

In [ ]:
L=[11,12,13,14]
L.append(50)
L.append(60)
print('the new list after addition ',L)
del L[0]
del L[1]
print('the new list after delete ',L)
L.sort(reverse=True)
print('decending order ',L)
L.sort()
print('asending order ',L)
L=[11,12,13,14]

if 13 in L:
    print('present')

j=0
for i in L:
    j=j+1
print('the count is ',j)

a=0
for i in L:
    a=a+i
print('the sum is ',a)
a=0
for i in L:
    if i%2==0:
        a=a+i
print('su of even number ',a)
a=0
for i in L:
    if not(i%2==0):
        a=a+i
print('sum of odd number ',a)
L=[11,12,13,14]

a=0
for i in L:
  f=0
  for j in range(2,i):
    if i%j==0:
      f=1
  if f==0:
    a=a+i
print('sum of prime is ',a)
for i in range(0,len(L)):
    del L[0]
print(L)
L=[11,12,13,14]
L.clear()
print(L)
del L

the new list after addition  [11, 12, 13, 14, 50, 60]
the new list after delete  [12, 14, 50, 60]
decending order  [60, 50, 14, 12]
asending order  [12, 14, 50, 60]
present
the count is  4
the sum is  50
su of even number  26
sum of odd number  24
sum of prime is  24
[]
[]

question 2

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.8,5:7.7}
D[8]=8.8
print('the dic after addition ',D)
del D[2]
print('the dic after del ',D)
print(6 in D)
count=0
for i in D:
  count=count+1
print(count)
a=0
for i in D:
  a=a+D[i]
print(a)

D[3]=7.1
print(D)
D.clear()
print(D)

the dic after addition  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.8, 5: 7.7, 8: 8.8}
the dic after del  {1: 5.6, 3: 6.6, 4: 8.8, 5: 7.7, 8: 8.8}
False
5
37.5
{1: 5.6, 3: 7.1, 4: 8.8, 5: 7.7, 8: 8.8}
{}

question 3

In [ ]:
S1=set([10,20,30,40,50,60])
S2=set([40,50,60,70,80,90])
S1.add(55)
S1.add(66)
print(S1)
S1.remove(10)
S1.remove(30)
print(S1)
print("the union",S1.union(S2))
print('the intersection',S1.intersection(S2))
print('S1-S2',S1-S2)

{66, 40, 10, 50, 20, 55, 60, 30}
{66, 40, 50, 20, 55, 60}
the union {66, 70, 40, 80, 50, 20, 55, 90, 60}
the intersection {40, 50, 60}
S1-S2 {66, 20, 55}

question 4

In [ ]:
import random as r
import string as s
print('part i')
for u in range(1,101):
  c=r.randint(6, 8)
  a="".join(r.sample(s.ascii_letters,c))
  print(a)


print('part ii')
for i in range(600,801):
    f=0
    for j in range(2,i//2 + 1):
        if i%j==0:
            f=1
    if f==0:
        print(i)
print('part iii')
for i in range(100,1001):
  if i%7==0 and i%9==0:
    print(i)

part i
LAeozgmn
pUaQZW
LrmjZo
MEgnTr
pVvPeNX
KOoPQEq
ILztEmS
GwnTvShk
jVHpgewC
XWkQqz
VQWgAI
TmkZSsu
qSCtznv
TwnIhVxP
EKVxBL
nmpNTv
AaetWkpP
YMQlcqU
WQOSkr
QkDLuEv
NzWOJbV
gmlcQi
aOzRmUV
osOeCAuZ
MTEKNjI
FSpcCbDq
ixQRkt
qytRMYp
audeXE
yvQNZCu
dISqAp
PIqpenJW
kAUaqVb
RuSTYXU
cRUBoe
DmMUau
NleALy
iSzAjQ
FmKTrOMj
mvhHaSt
JDOBeRdZ
clhOXojd
NVqdHFZO
NBFEqjck
vHMbmDJ
inDLUr
iGXbxRY
gIRYVjp
WNmXJF
WalJMyRe
mbixAMz
cMZGyQ
HhmAkE
lBVeUdh
wRLdck
IWEjep
BoiGsMf
liDUnqcp
qZIpvV
SbEsKwQT
dSNneQ
mRCtXcEL
lUADnyz
tNpoYsJw
bolhex
ErjJPm
CMrXmlku
zCDmWG
OvesGi
XwybsGh
dxPShkup
TAQtgN
qarGZLz
FfKbWXU
xegHBlV
OLGJKzxS
VKhqQGRi
qxYgOuJ
wDjWfec
gLrVRWdC
jYVkUNt
rAylRVi
bnfilT
tmybgN
DgMyTE
lBVpHZg
IyvWqS
dFCkbvz
ErawqonP
NDGOdFim
JIcVsb
PpULKwZ
uWNhijS
pVYhSw
jYyaEuZq
qURjyQJf
QWZicAP
qCjmuDrN
gfYGBUNX
nOoLwR
part ii
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
part iii
126
189
252
315
378
441
504
567
630
693
756
819
882
945

question 5

In [ ]:
import random as r
import string as s
S=range(10,31)
A=r.sample(S,10)
B=r.sample(S,10)

for i in A:
  f=0
  for j in B:
    if i==j:
      print(i,' is common')


for i in A:
  f=0
  for j in B:
    if i==j:
      f=1
  if f==0:
    print(i,' is unique')
try:
    del max
except:
    pass

if max(A)>max(B):
  print('max value is of A which is ',max(A))
else:
  print('the max value is of B which is ',max(B))

try:
  del min
except:
  pass
if min(A)<min(B):
  print('the minimum value is of A which is ',min(A))
else:
  print('the minimum value is of B which is ',min(B))
C=A+B
print(C)

20  is common
17  is common
12  is common
26  is common
29  is unique
15  is unique
30  is unique
24  is unique
19  is unique
11  is unique
max value is of A which is  30
the minimum value is of B which is  10
[20, 29, 15, 30, 24, 17, 12, 19, 11, 26, 26, 16, 25, 10, 17, 21, 12, 27, 20, 13]

question 6

In [ ]:
import random as r
S=range(100,901)
countodd=0
counteven=0
countprime=0
A=r.sample(S,100)
for i in A:
  if not(i%2==0):
    print('odd numbers are',i)
    countodd=countodd+1
print('number of odds are',countodd)
for i in A:
  if i%2==0:
    print('even numbers are',i)
    counteven=counteven+1
print('number of even are',counteven)


for i in A:
  f=0
  for j in range(2,i//2 + 1):
    if i%j==0:
      f=1
  if f==0:
    print(i)
    countprime=countprime+1
print('the number of primes are',countprime)

odd numbers are 737
odd numbers are 501
odd numbers are 607
odd numbers are 757
odd numbers are 237
odd numbers are 413
odd numbers are 317
odd numbers are 655
odd numbers are 541
odd numbers are 897
odd numbers are 131
odd numbers are 229
odd numbers are 505
odd numbers are 639
odd numbers are 103
odd numbers are 509
odd numbers are 591
odd numbers are 713
odd numbers are 547
odd numbers are 377
odd numbers are 539
odd numbers are 445
odd numbers are 207
odd numbers are 899
odd numbers are 423
odd numbers are 247
odd numbers are 139
odd numbers are 893
odd numbers are 641
odd numbers are 519
odd numbers are 835
odd numbers are 343
odd numbers are 803
odd numbers are 333
odd numbers are 489
odd numbers are 277
odd numbers are 253
odd numbers are 155
odd numbers are 383
odd numbers are 389
odd numbers are 813
odd numbers are 645
odd numbers are 511
odd numbers are 111
odd numbers are 743
odd numbers are 257
odd numbers are 223
odd numbers are 349
odd numbers are 293
odd numbers are 837
odd numbers are 373
odd numbers are 565
odd numbers are 587
odd numbers are 523
odd numbers are 151
odd numbers are 611
number of odds are 56
even numbers are 390
even numbers are 444
even numbers are 386
even numbers are 576
even numbers are 672
even numbers are 722
even numbers are 590
even numbers are 206
even numbers are 430
even numbers are 204
even numbers are 844
even numbers are 664
even numbers are 158
even numbers are 202
even numbers are 448
even numbers are 384
even numbers are 102
even numbers are 870
even numbers are 810
even numbers are 228
even numbers are 578
even numbers are 368
even numbers are 862
even numbers are 412
even numbers are 270
even numbers are 560
even numbers are 790
even numbers are 660
even numbers are 800
even numbers are 476
even numbers are 346
even numbers are 522
even numbers are 416
even numbers are 214
even numbers are 124
even numbers are 498
even numbers are 818
even numbers are 378
even numbers are 164
even numbers are 372
even numbers are 170
even numbers are 616
even numbers are 884
even numbers are 342
number of even are 44
607
757
317
541
131
229
103
509
547
139
641
277
383
389
743
257
223
349
293
373
587
523
151
the number of primes are 23

question 7

In [1]:
import pandas as pd
D={1:'one',2:'two',3:'three',4:'four',5:'five'}
pd.Series(D)

1      one
2      two
3    three
4     four
5     five
dtype: object

question 8

In [ ]:
L=['one','two','three','four','five']
for i in L:
  print(i,',',len(i))

one , 3
two , 3
three , 5
four , 4
five , 4

question 9

In [ ]:
import random as r
import string as s
fp=open('sac','w')
for i in range(1,101):
  c=r.randint(10, 15)
  a="".join(r.sample(s.ascii_letters,c))
  fp.write(a+'\n')

question 10

In [ ]:
fp=open('prime','w')
for i in range(600,801):
  f=0
  for j in range(2,i//2 + 1):
    if i%j==0:
      f=1
  if f==0:
    fp.write(str(i)+'\n')

question 11

In [ ]:
import time as t
start=t.time()

S1=set([10,20,30,40,50,60])
S2=set([40,50,60,70,80,90])
S1.add(55)
S1.add(66)
print(S1)
S1.remove(10)
S1.remove(30)
print(S1)
print("the union",S1.union(S2))
print('the intersection',S1.intersection(S2))
print('S1-S2',S1-S2)

end=t.time()

final=end-start

print('the time taken= ',final)

{66, 40, 10, 50, 20, 55, 60, 30}
{66, 40, 50, 20, 55, 60}
the union {66, 70, 40, 80, 50, 20, 55, 90, 60}
the intersection {40, 50, 60}
S1-S2 {66, 20, 55}
the time taken=  0.0004818439483642578

qustion 13

In [ ]:
D={'maths':0,'phy':0,'chem':0,'prog':0,'env':0}
D['maths']=int(input('entre marks of maths '))
D['phy']=int(input('entre marks of phy '))
D['chem']=int(input('entre marks of chem '))
D['prog']=int(input('entre marks of prog '))
D['env']=int(input('entre marks of env '))
print(D)

print('max marks is', max(D.values()))
print('min marks is',min(D.values()))
print('avrage is', sum(D.values())/len(D))

entre marks of maths 55
entre marks of phy 666
entre marks of chem 444
entre marks of prog 333
entre marks of env 444
{'maths': 55, 'phy': 666, 'chem': 444, 'prog': 333, 'env': 444}
max marks is 666
min marks is 55
avrage is 388.4